@model Tickets.tickets
<h2>Desea eliminar este elemento?</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td class="mio">
                Nombre
            </td>
            <td>
                @Html.EditorFor(Model => Model.nombre, new { htmlAttributes = new { @class = "form-control bg-primary" } })
            </td>
        </tr>
        <tr>
            <td>
                Descripcion
            </td>
            <td>
                @Html.EditorFor(Model => Model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                Departamento
            </td>
            <td>
                @Html.EditorFor(Model => Model.departamento, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Delete" class="btn btn-default" />
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </td>
        </tr>
    </table>
}